.PlayerNextPlayPrevBtn {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

.PlayerNextPlayPrevBtn path:nth-child(2),
.PlayerNextPlayPrevBtn path:nth-child(3) {
    fill: var(--secondary-color);
}

.PlayerNextPlayPrevBtn svg {
    padding: 1em;
    border-radius: 50%;
    box-shadow: inset 20px 20px 50px rgba(255, 255, 255, 0.8);

}

.play-btn-prev {
    width: 3.7em;
    height: 3.7em;
    background-color: var(--bg-color);
    border-radius: 50%;
    box-shadow: var(--main-card-effect);
    display: flex;
    align-items: center;
    justify-content: center;
}

.PlayerNextPlayPrevBtn>.play-btn-container, .PlayerNextPlayPrevBtn>.pause-btn-container {
    width: 4em;
    height:4em;
}
.PlayerNextPlayPrevBtn>.play-btn-container>.play-btn,
.PlayerNextPlayPrevBtn>.pause-btn-container>.pause-btn {
    height: 3.8em;
    width: 3.8em;
    
}
.PlayerNextPlayPrevBtn>.play-btn-container svg {
    padding: 0.5em;
    border-radius: 50%;
    box-shadow: inset 20px 20px 50px rgba(255, 255, 255, 0.8);
}
.PlayerNextPlayPrevBtn>.pause-btn-container svg {
    padding: 0.5em;
    background-color: var(--secondary-color);
    border-radius: 50%;
    box-shadow: inset 0px 4px 4px #6173e5;
}