.PlayerReplayBtn path:nth-child(1),
.PlayerReplayBtn path:nth-child(2) {
    fill: var(--secondary-color);
}


.PlayerReplayBtn {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-bottom: 1em;
    border-radius: 50%;
}


.replay-btn {
    width: 2.7em;
    height: 2.7em;
    background-color: var(--bg-color);
    border-radius: 50%;
    box-shadow: var(--main-card-effect);

}

.PlayerReplayBtn svg {
    margin-bottom: 1em;
    width: 20%;
    box-shadow: inset 20px 20px 50px rgba(255, 255, 255, 0.8);
    border-radius: 50%;

}