.default-searchpage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.classbygenre{
    width: 100%;
    height: 60%;
}
.classbygenre>h2{
    padding-left: 5%;
}

.cardgenre{
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
}