.PageAlbum{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.page-album-header {
  padding: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.logo-back-home {
  width: 3em;
  align-self: flex-start;
}

.album-cover{
  margin: 1em;
  width:11em;
  height: 11em;
  border-radius: 200px;
  box-shadow:var(--main-card-effect);
  display: flex;
  justify-content: center;
  align-items: center;
}

  .album-title{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .album-favorite-btn{
    width:2.5em;
    height: 2.5em;
  }

.album-title>.play-btn-container, .track>.pause-btn-container {
  width: 3.2em;
  height: 3.2em;
}
.album-title>.play-btn-container svg {
  padding: 0.5em;
  border-radius: 50%;
  box-shadow: inset 20px 20px 50px rgba(255, 255, 255, 0.8);
}
.album-title>.pause-btn-container svg {
  padding: 0.5em;
  background-color: var(--secondary-color);
  border-radius: 50%;
  box-shadow: inset 0px 4px 4px #6173e5;
}
.album-title>.play-btn-container>.play-btn,
.album-title>.pause-btn-container>.pause-btn 
{
  width: 3em;
  height: 3em;
}
.album-title>.play-btn-container>.play-btn {fill: var(--secondary-color)}
.album-title>.pause-btn-container>.pause-btn {fill: var(--bg-color);}

.album-cover img{
  width: 90%;
  height: 90%;
  margin: 0;
  border-radius: 200px;
}

.track-list{
  margin-top: 2em;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: scroll;
  height: 38%;
  width: 100%;
}
.track-list::-webkit-scrollbar{display: none;}

.track{
  display: flex;
  align-items: center;
  gap: 0.8em;
  width: 100%;
}

.favorite-btn-container{
  width: 5%;
}

.track-infos-container{
  width: 90%;
}

.track-name{
  font-family: var(--main-font);
  color: var(--dark-font);
  font-size: 0.8em;
}

  .duration{
    font-family: var(--main-font);
    color: var(--light-font);
  }
  


.track>.play-btn-container, .track>.pause-btn-container {
  width: 2.2em;
  height: 2.2em;
}
.track>.play-btn-container svg {
  padding: 0.5em;
  border-radius: 50%;
  box-shadow: inset 20px 20px 50px rgba(255, 255, 255, 0.8);
}
.track>.pause-btn-container svg {
  padding: 0.5em;
  background-color: var(--secondary-color);
  border-radius: 50%;
  box-shadow: inset 0px 4px 4px #6173e5;
}
.track>.play-btn-container>.play-btn,
.track>.pause-btn-container>.pause-btn 
{
  width: 2em;
  height: 2em;
}
.track>.play-btn-container>.play-btn {fill: var(--secondary-color)}
.track>.pause-btn-container>.pause-btn {fill: var(--bg-color);}
