.settings-page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
}

.settings-page img {
    width: 15em;
    margin: 1em 0 2em 0;
}

.options-container a {text-decoration: none;}