.your-favorites-page {
    padding: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playlist-icons-option {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.back-arrow, .more-options-btn {
    fill: var(--secondary-color); 
    width: 2.2em; 
    height: 2.2em;
}
.more-options-btn:hover {fill: var(--main-color);}

.options-container {
    position: absolute;
    top: 7%;
    right: 4%;
    height: 10em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8em;
    background-color: var(--bg-color);
}
.options-container .option-icons {
    fill: var(--secondary-color); 
    width: 1.5em; 
    height: 1.5em;
}
.options-container .option-icons:hover {
    fill: var(--main-color);
}

.your-favorites-page span {
    height: 10em;
    width: 10em;
    margin-bottom: 1em;
    border-radius: 14px;
    background-color: bisque;
}

.playlist-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.playlist-header>h1 {
    font-family: var(--title-font);
    color: var(--secondary-color);
}
.playlist-header>.play-btn {
    width: 3.2em;
    height: 3.2em;
    background-color: var(--bg-color);
    box-shadow: var(--main-card-effect);
}

.playlist-header>.play-btn svg,
.playlist-header>.shuffle-btn svg {
    padding: 0.5em;
    border-radius: 50%;
    box-shadow: inset 20px 20px 50px rgba(255, 255, 255, 0.8);
}

.playlist-header>.shuffle-btn path:nth-child(1),
.playlist-header>.shuffle-btn path:nth-child(2) {
    fill: var(--secondary-color);
}
.playlist-header>.shuffle-btn {
    width: 2.7em;
    height: 2.7em;
    background-color: var(--bg-color);
    border-radius: 50%;
    box-shadow: var(--main-card-effect);
}

.favorite-tracks-container {
    width: 100%;
    margin-top: 2em;
}
.favorite-tracks-container>.track-container {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.favorite-tracks-container>.track-container>.track-info-container>h3 {
    margin-bottom: 0.5em;
    text-transform: capitalize;
    font-size: 1.2em;
}
.favorite-tracks-container>.track-container>.track-info-container>p {
    color: var(--dark-font);
    font-style: italic;
    font-size: 0.8em;
}

.favorite-tracks-container>.track-container>.play-btn-container, 
.favorite-tracks-container>.track-container>.pause-btn-container {
width: 2.2em;
height: 2.2em;
}
.favorite-tracks-container>.track-container>.play-btn-container svg {
padding: 0.5em;
border-radius: 50%;
box-shadow: inset 20px 20px 50px rgba(255, 255, 255, 0.8);
}
.favorite-tracks-container>.track-container>.pause-btn-container svg {
padding: 0.5em;
background-color: var(--secondary-color);
border-radius: 50%;
box-shadow: inset 0px 4px 4px #6173e5;
}
.favorite-tracks-container>.track-container>.play-btn-container>.play-btn,
.favorite-tracks-container>.track-container>.pause-btn-container>.pause-btn 
{
width: 2em;
height: 2em;
}
.favorite-tracks-container>.track-container>.play-btn-container>.play-btn {fill: var(--secondary-color)}
.favorite-tracks-container>.track-container>.pause-btn-container>.pause-btn {fill: var(--bg-color);}