.SearchBar{
    width: 50%;
    display: flex;
    align-items: center;
    box-shadow: var(--main-card-effect);
    border-radius: 15px;
    padding-left:  .5em; 
    
    
}

.SearchText{
    border-style:none ;
    padding-left: 0.5em;
}


