.search-components {
    height: 12%;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-components .mini-logo {
    height: 3em;
    width: 3em;
}
.search-components .mini-logo img {
    margin: 0;
    height: 100%;
    width: 100%;
}
.SearchBar{
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--general-innerShadow);
    border-radius: 15px;
    padding: .5em 1em;     
}

.SearchText{
    border-style:none ;
    padding-left: 0.5em;
}

.SearchBar input{
    height: 100%;
    width: 80%;
    background-color: transparent;
    outline: none;
}

.btn-send{
    fill: #bebebe;
    width: 1.2em;
    height: 1.2em;
}

.btn-send:hover{
    fill: var(--main-color);
}