.SearchBar{
    width: 60%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--general-innerShadow);
    border-radius: 15px;
    padding: .5em 1em;     
}

.SearchText{
    border-style:none ;
    padding-left: 0.5em;
}

.SearchBar input{
    height: 100%;
    width: 80%;
    background-color: transparent;
    outline: none;
}

.btn-send{
    fill: #bebebe;
    width: 1.2em;
    height: 1.2em;
}

.btn-send:hover{
    fill: var(--main-color);
}