.Navbar {
    width: 45%;
    background-color:var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 0.9em;
    border-radius: 15px;
    box-shadow: var(--main-card-effect);
}

.Navbar-Home, .Navbar-Search, .Navbar-Grid, .Navbar-Settings {
    color: var(--light-font);
    border-style: none;
    border-radius: 15px;
}

.Navbar-Home:hover, .Navbar-Search:hover,
.Navbar-Grid:hover, .Navbar-Settings:hover {color:var(--main-color)}

