.login-form-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.login-form input, .login-form-container input, .login-form-container a {
    height: 3em;
    width: 75%;
    margin: 1em auto;
    border-radius: 20px;
    background-color: transparent;
    outline: none;
    border: none;
}
.login-form input[type="text"], .login-form input[type="password"], .login-form input[type="email"] {
    padding: 0.8em;
    box-shadow: var(--general-innerShadow);
    font-family: var(--main-font)
}

.login-form-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 2em;
    font-family: var(--title-font);
    font-size: 1.2em;
    font-weight: bold;
    color: var(--bg-color);
    background: linear-gradient(90deg, #6173E6 0%, #CBD1F8 100%);
    box-shadow: var(--main-card-effect);
    cursor: pointer;
}

.correct-pwd { display: none; }

.error-message { 
    font-size: 0.8em;
    color: red; 
}

.login-form-container .info-container { display: none; }
