.recommendations{
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.recommendations>h2{
    padding-left: 5%;
}
.recommendation-cards-container {
    height: 100%;
    width: 100%;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1em;
    overflow: scroll;
}

.recommendations .Card-container {
    width: 4.5em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: var(--main-card-effect);
    border-radius: 8px;
}